.result {
    background-color: transparent;
    max-width: 100%;
    width: 100px;
    padding: 10px;
    text-align: center;
}

.total {
    font-size: x-large;
}

.window__result {
    max-width: 100%;
    width: 100px;
}